{
    "node_name": "{{ consul_node_name }}",
    "primary_datacenter": "{{ consul_datacenter }}",
    "acl": {
        "enabled": true,
        "default_policy": "{{ consul_acl_default_policy }}",
        "down_policy": "{{ consul_acl_down_policy }}",
        "token_ttl": "{{ consul_acl_ttl }}"
    },
    "addresses": {{ consul_addresses | to_nice_json | indent(4)}},
    "bind_addr": "{{ consul_bind_addr }}",
    "bootstrap": {{ consul_bootstrap | bool | to_json }},
{% if (consul_bootstrap_expect > 0) %}
    "bootstrap_expect": {{ consul_bootstrap_expect }},
{% endif %}
{% if consul_advertise_addr != "" %}
    "advertise_addr": "{{ consul_advertise_addr }}",
{% endif %}
    "client_addr": "{{ consul_client_addr }}",
    "data_dir": "{{ consul_data_dir }}",
    "datacenter": "{{ consul_datacenter }}",
    "log_level": "{{ consul_log_level }}",
    "ports": {{ consul_ports | to_nice_json | indent(4) }},
    "retry_interval": "{{ consul_retry_interval }}",
    "retry_join": {{ consul_retry_join | to_nice_json | indent(4) }},
    "retry_max": {{ consul_retry_max }},
    "server": {{ consul_server | bool | to_json }},
    "ui": {{ consul_ui | bool | to_json }},
    "performance": {{ consul_performance | to_nice_json | indent(4) }},
{% if consul_tls_enable %}
    "ca_file": "{{ consul_configdir_ssl }}/ca.crt",
    "cert_file": "{{ consul_configdir_ssl }}/{% if consul_server %}server{% else %}client{% endif %}.crt",
    "key_file": "{{ consul_configdir_ssl }}/{% if consul_server %}server{% else %}client{% endif %}.key",
    "verify_incoming": {{ consul_tls_verify_incoming | bool | to_json }},
    "verify_incoming_rpc": {{ consul_tls_verify_incoming_rpc | bool | to_json }},
    "verify_outgoing": {{ consul_tls_verify_outgoing | bool | to_json }},
    "verify_server_hostname": {{ consul_tls_verify_server_hostname | bool | to_json }}
{% endif %}
}
